
.scroll-top {
	background:    $brand-primary;
	border:        1px solid #fff;
	border-radius: 50%;
	bottom:        15px;
	color:         #fff;
	font-size:     $font-size-h4;
	padding:       3px 12px 4px;
	position:      fixed;
	right:         15px;
	transition:    all $speed $easing;
	z-index:       1000;

	&:active,
	&:focus,
	&:hover {
		background: darken($brand-primary, 10%);
		color:      #fff;
	}
}
