h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	font-family: $headings-font-family;
}

p {
	font-weight: 300;

	a {
		font-weight: 600;
	}
}

.article-header {
	h1 {
		font-size: ceil(($font-size-h1 * 1.5));
	}
}

::selection {
	background:    $brand-primary;
	border-radius: 10% / 50%;
	color:         $gray-lighter;
}
