h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	font-family: $headings-font-family;
}

p {
	font-weight: 300;

	a {
		font-weight: 600;
	}
}

.article-header {
	h1 {
		font-size: ceil(($font-size-h1 * 1.5));
	}
}

::selection {
	background:    $brand-primary;
	border-radius: 10% / 50%;
	color:         $gray-lighter;
}

.announcement-wrapper {
	h2 {
		border-bottom:  1px solid darken($brand-red, 10%);
		color:          #fff;
		margin:         0;
		padding-bottom: ceil(($line-height-computed / 2));
	}

	p {
		color: #fff;

		&:first-of-type {
			padding-top: ceil(($line-height-computed / 2));
			border-top:  1px solid rgba(255, 255, 255, 0.1);
		}
	}
}
